.vh-application {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 0;
    .vh-main {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        background: #ccc;
        .vh-header {
            background-color: #fff;
            border-bottom: 1px solid #dee2e6;
            width: 100%;
            padding-left: 252px;
            display: flex;
            flex-direction: row;
            .vh-app-sidebar {
                height: 98%;
                padding: 5px;
                i {
                    font-size: 24px;
                }
                &:hover {
                    background: #343a40;
                    color: #fff;
                    cursor: pointer;
                }
            }
            .vh-profile {
                line-height: 100%;
                padding: 7px;
                height: 100%;
            }
        }
        .vh-sidebar {
            transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
            height: inherit;
            min-height: 100%;
            position: absolute;
            top: 0;
            background-color: #343a40;
            width: 250px;
            animation-delay: 0.2s;
            z-index: 99;
            .vh-sidebar-app {
                background-color: #627086;
                .title,
                .title-short {
                    color: #fff;
                    font-size: 21px;
                    padding: 11px;
                }
                .title-short {
                    display: none;
                    font-size: 18px;
                    padding: 12px 5px;
                }
            }
        }
        .vh-body {
            height: calc(100% - 50px);
            overflow: auto;
            padding-left: 250px;
            .vh-content {
                margin: 0;
                padding: 1px;
                min-height: 100%;
            }
        }
    }
    &.vh-layout-mini {
        .vh-sidebar {
            .vh-sidebar-app {
                .title {
                    display: none;
                }
                .title-short {
                    display: block;
                }
            }
            width: 50px;
            .vh-menu-sidebar {
                .vh-menu-item {
                    label {
                        display: none;
                    }
                }
            }
            &:hover {
                width: 250px;
                .vh-sidebar-app {
                    .title {
                        display: block;
                    }
                    .title-short {
                        display: none;
                    }
                }
                .vh-menu-sidebar {
                    .vh-menu-item {
                        label {
                            display: unset;
                        }
                    }
                }
            }
        }
        .vh-header,
        .vh-body {
            padding-left: 50px;
        }
    }
    &.vh-no-sidebar-layout {
        .vh-header {
            padding: 0px;
        }
        .vh-body {
            padding: 0px;
        }
    }
}
