.vh-kanban-board {
    width: 100%;
    height: 100%;
    background: #eee;
    margin: -1px;
    position: absolute;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    .vh-kanban-board-column {
        flex: none;
        margin: 0px 5px;
        width: 300px;
        min-height: 40px;
        max-height: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        .label-input {
            .form-control {
                padding: 0.1rem 0.75rem;
            }
            label {
                width: 100%;
            }
        }

        &.vh-kanban-action-add-column {
            height: 50px;
            display: inline-block;
            background: rgb(228, 20, 20);
            border: 1px solid rgb(221, 196, 196);
            border-radius: 3px;
            padding: 10px;
            .label-input {
                label {
                    font-weight: 700;
                    color: #fff;
                }
            }
        }
        .vh-kanban-board-content {
            width: 100%;
            display: inline-block;
            border-radius: 2px;
            max-height: 100%;
            position: relative;
            overflow: hidden;
            .vh-kanban-board-header {
                height: 50px;
                text-align: center;
                font-weight: 700;
                font-size: 16px;
                color: #fff;
                padding: 10px;
                .form-control {
                    padding: 0.1rem 0.75rem;
                }
                label {
                    width: 100%;
                    color: #fff;
                    font-weight: 700;
                }
            }
            .vh-kanban-board-body {
                max-height: calc(100% - 50px);
                background: #ccc;
                border: 1px solid rgb(221, 196, 196);
                padding: 10px;
                overflow: auto;
                height: fit-content;
                .vh-kanban-board-card {
                    padding: 5px;
                    border-radius: 3px;
                    background: #fff;
                    flex: none;
                    min-height: 30px;
                    width: 100%;
                    margin: 10px 0px;
                }
            }
        }
    }
}
