.vh-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    .vh-menu-sub {
        transition: margin-left 0.1s ease-in-out, width 0.1s ease-in-out;
        margin-left: 15px;
        display: none;
        &.active,
        &:hover {
            display: block;
        }
    }
    .vh-menu-item {
        max-width: 500px;
        position: relative;
        margin: 0;
        padding: 0;
        &:hover > .vh-menu-sub {
            display: block;
        }
        .vh-menu-link,
        .vh-menu-label {
            padding: 10px;
            margin: 0;
            display: block;
            text-decoration: none;
            color: #343a40;
            i {
                padding-left: 2px;
                padding-right: 5px;
            }
            &:hover {
                background: #343a40;
                * {
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
    }
}
.vh-menu-top {
    & > .vh-menu-item {
        float: left;
        &:last-child {
            border-right: none;
        }
        & > .vh-menu-sub {
            width: 100%;
        }
    }
    * {
        color: rgba(0, 0, 0, 0.5);
    }

    .vh-menu-sub {
        z-index: 99;
        margin-left: 35px;
        position: absolute;
        min-width: 100%;
        .vh-menu-item {
            min-width: 100%;
            float: unset;
            background: #fff;
            border-bottom: #343a40 1px solid;
        }
    }
}

.vh-menu-sidebar {
    overflow: auto;
    * {
        color: #e4e2e2;
    }
    .vh-menu-item {
        min-width: 100%;
        &:last-child {
            border-right: none;
        }
        .vh-menu-link,
        .vh-menu-label {
            &:hover {
                background: rgb(136, 130, 130);
                * {
                    color: #e4e2e2 !important;
                }
                cursor: pointer;
            }
        }
    }
    .vh-menu-sub {
        z-index: 99;
        width: calc(100% - 15px);
        .vh-menu-item {
            width: 100%;
        }
    }
}
