.vh-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    &.vh-menu-sub {
        transition: margin-left 0.1s ease-in-out, width 0.1s ease-in-out;
        margin-left: 15px;
        min-width: 100%;
        display: none;
        &.active,
        &:hover {
            display: block;
        }
    }
    .vh-menu-item {
        position: relative;
        border: 1;
        margin: 0;
        padding: 0;
        &:hover > .vh-menu-sub {
            display: block;
        }
        .vh-menu-link,
        .vh-menu-label {
            padding: 10px;
            margin: 0;
            display: block;
            text-decoration: none;
            color: #343a40;
            i {
                padding-left: 2px;
                padding-right: 5px;
            }
            &:hover {
                background: #343a40;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}
.vh-menu-top {
    & > .vh-menu-item {
        float: left;
        &:last-child {
            border-right: none;
        }
    }
    .vh-menu-sub {
        z-index: 99;
        min-width: 100%;
        margin-left: 25px;
        position: absolute;
        .vh-menu-item {
            min-width: 100%;
            float: unset;
            background: #fff;
            border-bottom: #343a40 1px solid;
        }
    }
}

.vh-menu-sidebar {
    overflow: auto;
    * {
        color: #e4e2e2;
    }
    .vh-menu-item {
        &:last-child {
            border-right: none;
        }
        .vh-menu-link,
        .vh-menu-label {
            &:hover {
                background: rgb(136, 130, 130);
                * {
                    color: #e4e2e2 !important;
                }
                cursor: pointer;
            }
        }
    }
    .vh-menu-sub {
        z-index: 99;
        min-width: 100%;
        .vh-menu-item {
            min-width: 100%;
            float: unset;
            background: #fff;
            border-bottom: #343a40 1px solid;
        }
    }
}
